# Python
__pycache__/
*.py[cod]
*.pyo

# Jupyter
.ipynb_checkpoints/

# Machine Learning / CatBoost
catboost_info/

# Entornos virtuales
.venv/
venv/
env/
ENV/

# IDEs
.vscode/
.idea/

# Sistema
.DS_Store
Thumbs.db
desktop.ini

# Temporales
*.tmp
*.temp
*.log
